<footer>
	<ul>
		<li>
			<a href="https://nodemailer.com/" target="_blank"><abbr title="https://nodemailer.com/">nodemailer</abbr></a>
		</li>
		<li>
			<a href="https://mailtrap.io/" target="_blank">mailtrap.io</a>
		</li>
	</ul>
</footer>