<footer>
	<ul>
		<li>
			<a href="https://nodemailer.com/"><abbr title="https://nodemailer.com/">nodemailer</abbr></a>
		</li>
		<li>
			<a href="https://mailtrap.io/">mailtrap.io</a>
		</li>
		<li>
			<a href="/settings">Settings</a>
		</li>
	</ul>
</footer>