<header style="position: relative;">
	<a href="/">
		<!-- <img src="https://raw.githubusercontent.com/nodemailer/nodemailer/master/assets/nm_logo_200x136.png"> -->
		<img src="images/logo.jpg	">
	</a>
	<nav>
		<ul style="position: absolute;top:0;right:0;">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/settings">Settings</a>
			</li>
			<li>
				<a href="/logs" title="Logs">Logs</a>
			</li>
		</ul>
	</nav>
</header>