<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/scripts/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: '#content',
			menubar: false
		});
	</script>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include partials/flash_messages %>
<% include partials/header %>
	<section>
		<form action="/sendmail" method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Send an e-mail</legend>
				<input list="from" name="from" placeholder="Find an e-mail to send your e-mail from">
				<datalist id="from">
					<option value="&quot;admin&quot; &lt;admin@peterrietveld.nl&gt;">
					<option value="&quot;DJ Tarabass&quot; &lt;djtarabass@gmail.com&gt;">
					<option value="&quot;Peter Rietveld&quot; &lt;p.rietveld@live.com&gt;">
				</datalist>
				<input type="text" name="to" placeholder="To">
				<input type="text" name="subject" placeholder="Subject">
				<select name="priority">
					<option value="" disabled selected>Priority (default is normal)</option>
					<option value="low">Low</option>
					<option value="normal">Normal</option>
					<option value="high">High</option>
				</select>
				<input type="file" name="attachment" placeholder="Attach a file">
				<textarea name="content" id="content"></textarea>
				<button type="submit">Send</button>
			</fieldset>
		</form>
	</section>
<% include partials/footer %>
</body>
</html>