<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<header>
		<a href="/">
			<img src="https://raw.githubusercontent.com/nodemailer/nodemailer/master/assets/nm_logo_200x136.png">
		</a>
	</header>
	<section>
		<form action="/sendmail" method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Send an e-mail</legend>
				<input list="from" name="from" placeholder="Find an e-mail to send your e-mail from">
				<datalist id="from">
					<option value="&quot;admin&quot; &lt;admin@peterrietveld.nl&gt;">
					<option value="&quot;DJ Tarabass&quot; &lt;djtarabass@gmail.com&gt;">
				</datalist>
				<input type="text" name="to" placeholder="To">
				<input type="text" name="subject" placeholder="Subject">
				<select name="priority">
					<option value="" disabled selected>Priority (default is normal)</option>
					<option value="low">Low</option>
					<option value="normal">Normal</option>
					<option value="high">High</option>
				</select>
				<input type="file" name="attachment" placeholder="Attach a file">
				<textarea name="content"></textarea>
				<button type="submit">Send</button>
			</fieldset>
		</form>
		<p><%- messages() %></p>
	</section>
	<footer>
		<a href="https://nodemailer.com/"><abbr title="https://nodemailer.com/">nodemailer</abbr></a>
		<a href="https://mailtrap.io/">mailtrap.io</a>
		<a href="/settings">Settings</a>
	</footer>
</body>
</html>