<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include partials/flash_messages %>
<% include partials/header %>
	<table>
        <tr>
            <th onclick="window.location.href = './logs?orderby=filename&orderdir=asc';">Name</th>
            <th onclick="window.location.href = './logs?orderby=size&orderdir=asc';">Size</th>
            <th onclick="window.location.href = './logs?orderby=date&orderdir=asc';">Create date</th>
        </tr>
        <% logs.forEach(function(log){ %>
            <% include partials/log %>
        <% }) %>
    </table>
<% include partials/footer %>
</body>
</html>